{
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "printWidth": 120,
  "brackSpacing": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}